@import '../../styleMinxin';

.playerBoard{
  @include flexBox($direction: $column, $basis: 58%);
  @include breakpoint(768px) {
    @include flexBox($basis: 100%);

    margin-bottom: 1rem;
  };

  box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);

    .itemsContainer {
      @include flexBox($wrap: $flexWrap);
      gap: 2rem;
      padding: 1rem;

      .item {
        padding: 2rem;
        cursor: pointer;
        box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);

        &:hover{
          scale: (1.1);
        }
      }
    }
  }


