.table {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  thead {
    th {
      position: sticky;
      top: 0;
      background: #FFFFFF;
    }
  }

  tfoot {
    border-top:  2px solid rgba(0, 0, 0, 0.1);
  }

  &.fixed {
    table-layout: fixed;
  }

  &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
  }
  &.left {
    text-align: left;
  }
}
